@model IEnumerable<Project>

<h1 class="fw-bold align-items mb-5">PROJECTOS</h1>

<a asp-controller="Project" asp-action="AddEditProject" class="mb-5 w-auto">Add Project</a>

<div class="row align-items-md-stretch">
    @foreach (Project project in Model)
    {
        <div class="col-md-6">
            <h1>
                @project.Title
                <a class="mb-5 bg-transparent border-0 text-black-50"
                    asp-controller="Project" asp-action="AddEditProject" asp-route-id="@project.Id">
                    ...
                </a>
            </h1>
        </div>
    }
</div>