@model CreateEditProjectViewModel


<form method="post" asp-action="AddSubProject" enctype="multipart/form-data">
    <input value="ProjectID" type="submit" id="ProjectID" name="Add SubProject"
           type="submit" class="btn btn-primary" />
</form>

